#plasmo-shadow-container,
.plasmo-csui-container {
    position: relative !important;
}

.burner-icon {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/

    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

a.burner-icon:hover {
    cursor: pointer;
}

.burner-icon svg {
    color: #EA580C;
}

